body{
    font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
}

.button-prm{
border-radius: 5px;
background: #1dadc0;
color: black;
border: 0;
font-size: 17px;
font-weight: 700;
padding: 10px 20px;
}

.section-title{

color: #181818;
text-align: center;
font-size: 35px;
font-weight: 700;

}
.section-desc{
    color: #3a3939;
    text-align: justify;
    font-size: 18px;
    padding-bottom: 30px;
}

nav{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
.nav-title{
color: #181818;
font-size: 45px;
font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #3a3939;
}

.header{
    background-color: #F0FFFF;
    background-image: url('../images/header.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position: 100%;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-cont{
    max-width: 500px;
}
.banner .my-pic{
    width: 300px;
    border-radius: 17px;
    justify-content: space-between;
}
.banner-welcome{
    font-size: 35px;
    color: #3a3939;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 55px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

main{
    max-width: 1400px;
    margin: auto;
}

main section{
    margin-top: 100px;
}
.banner-intro{
    max-width: 700px;
    margin: 40px auto;
}

.about{
    padding: 35px ;
    border-radius: 20px;
    background: #F0F8FF;
}
.about-info-box{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}



#ability{
    padding: 35px;
}
.skills-box{
    display: flex;
    gap: 15px;
}
.skill{
    padding: 25px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-desc{
color: #3a3939;
font-size: 15px;
font-weight: 400;
}


.resume-col-title{
margin-bottom: 30px;
color: #3a3939;
font-size: 30px;
text-align: center;
}
.resume-box{
    display: flex;
    gap: 100px;
}
.resume-col{
    width: 50%;
}
.resume-item-inst{
    margin-top: 0px;
    margin-bottom: 20px;
}
.resume-item-desc{
    text-align: justify;
}
.cv{
    text-align: center;
    margin-top: 50px;
}
footer{
    display: flex;
    background: #F0FFFF;
    margin-top: 100px;
    padding: 130px 200px;
    gap: 100px;
}
.social-media .logo{
    width: 30px;
}
.footer-col{
    width: 50%;
}

.social-media>a{
    margin-right: 20px;
}

.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 20px 40px;
    color: #3a3939;
    border-radius: 5px;
    background-color: white;
    border-color: #1dadc0;
    border-style: double;
    width: 100%;
}